:root {
    --color-principal:#b78756;
    --max-width: 1140px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat';
    font-size: 13px;
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: #000;
    color: #fff;
}
.header-content {
    max-width: var(--max-width);
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width:100px;
}
.logo-img {
    width: 80px;
    height: 80px;
    background-color: var(--color-principal);
    border-radius: 40px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;

}
.menu li a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
}
.menu li a:hover,
.menu li .active {
    border-bottom: 5px solid var(--color-principal);
    color: #CCC;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    background-color: var(--color-principal);
    border-radius: 20px;
}
.banner {
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-position: bottom;
    height: calc(100vh - 100px);
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.banner h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.banner h1 span {
    color: var(--color-principal);
}
.banner h2 {
    margin-top: 20px;
    text-transform: uppercase;
}
.banner .slider-pointers {
    width: 100vw;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin-top: -50px;
}
.banner .pointer {
    height: 15px;
    width: 15px;
    border: 2px solid var(--color-principal);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: var(--color-principal);
}
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.default .section-title {
    font-size: 20px;
}
.default .section-desc {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #CCC;
}
.default .section-body {
    max-width: var(--max-width);
    margin: auto;
}
.default.light {
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}
.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}


















/* 
    CSS PARA AREAS ESPECIFICAS DO SITE
*/


/* SECTION ABOUT US */

.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
}
.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/* SECTION SERVICES */

.section-services {
    display: flex;
    text-align: center;
}
.section-service {
    flex: 1;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child {
    border-left: 1px solid #333;
}
.section-services h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
}
.section-services p {
    font-size: 13px;
    color: #999;
    margin-top: 10px;
}

/* SECTION PROJECTS */

.section-projects {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-projects--filters {
    border: 1px solid #CCC;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    background-color: #EEE;
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}
.section-projects--filters ul {
    display: flex;
    justify-content: center;
}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    color: #555;
    border-left: 1px solid #CCC;
    border-bottom: 3px solid #EEE;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid var(--color-principal);
    color: #000;
}
.section-projects--filters li:first-child {
    border-left: 0;
}
.section-projects--photos {
    width: 100vw;
    max-width: var(--max-width);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    width: 280px;
}
.section-projects--photoarea {
    margin: 20px;
    width: 260px;
    height: 160px;
}
.section-projects--photoinfo {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}
.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

/* SECTION TEAM */

.bgteam {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}
.section-team {
    overflow: hidden;

    /* A MAX WIDTH PODERIA SER 880 PARA DIMINUIR A MARGIN RIGHT DO ULTIMO SLIDE, 
    MAS DEIXEI 900 PARA ALINHAR CERTINHO */

    max-width: 900px;
    margin: auto;
}
.section-team .sliders {
    width: 1000vw;
    height: 100%;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section-team .slidearea {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    padding: 30px;
}
.section-team-area .slider-pointers {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.section-team-area .pointer {
    height: 15px;
    width: 15px;
    border: 2px solid var(--color-principal);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: var(--color-principal);
}
.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}
.section-team--function {
    font-size: 14px;
    margin-top: 5px;
    color: #999;
}
.section-team--social {
    margin-top: 30px;
    display: flex;
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background-color: #ccc;
    margin-right: 7px;
    text-decoration: none;
}
.section-team--social a:last-child {
    margin-right: 0;
}
.section-team--social a i {
    color: #fff;
}
.section-team--social a:hover {
    background-color: var(--color-principal);
}

/* SECTION CLIENTS */

.section-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
}
.section-clients .sliders {
    width: 1000vw;
    height: 100%;
}
.section-clients .slide {
    height: 100%;
    display: inline-block;
    width: 700px;
}
.section-clients .slidearea {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-clients .slider-pointers {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.section-clients .pointer {
    height: 15px;
    width: 15px;
    border: 2px solid var(--color-principal);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-clients .pointer.active {
    background-color: var(--color-principal);
}
.section-client--name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.section-client--function {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}
.section-client--comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7F7F7F;
    margin-top: 20px;
}
.section-client--comment span {
    margin-top: 10px;
}

/* SECTION BRANDS */

.default.bgcompanie {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #CCC;
    border-right: 0;
    border-left: 0;
}
.section-companies {
    display: flex;
    justify-content: space-around;
}

/* SECTION PRICE */

.section-price {
    display: flex;
    margin: auto;
}
.section-price-area {
    flex: 1;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    margin-right: 30px;
}
.section-price--type {
    font-size: 15px;
    font-weight: 500;
}
.section-price--cost {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.section-price--cost span:first-child {
    font-weight: bold;
    font-size: 30px;
}
.section-price--cost span:last-child {
    color: #999;
}
.section-price--about {
    margin-top: 20px;
}
.section-price--about p {
    margin: 0;
    font-size: 12px;
}
.section-price--about hr{
    width: 10px;
    margin: 10px auto;
}
.section-price-area .button{
    background-color: #333;
    font-weight: bold;
    padding: 15px 35px;
}
.section-price-area .button:hover {
    background-color: var(--color-principal);
}

/* SECTION PREMIUM */

.default.bgpremium {
    background-color: #fff;
}
.section-premium {
    display: flex;
    margin: auto;
    flex-direction: column;
}
.section-premium .sliders {
    width: 1000vw;
    height: 100%;
}
.section-premium .slide {
    height: 100%;
    display: inline-flex;
    width: 1140px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.section-premium .slidearea {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.section-premium .slider-pointers {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.section-premium .pointer {
    height: 15px;
    width: 15px;
    border: 2px solid var(--color-principal);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-premium .pointer.active {
    background-color: var(--color-principal);
}
.section-premium--image {
    width: 500px;
    display: flex;
    justify-content: center;
}
.section-premium--about {
    width: 500px;
}
.section-premium .button {
    margin: auto;
    margin-top: 30px;
}
.about-feature {
    display: flex;
    margin-bottom: 20px;
}
.section-premium-features .about-feature:last-child {
    margin-bottom: 0;
}
.about-feature img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
.feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.feature-text {
    line-height: 25px;
} 